* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
}
.main h1,
.main textarea,
.main button {
  margin: 10px 0;
}
.main textarea {
  height: 200px;
  width: 500px;
  padding: 5px;
  font-size: 20px;
  border: 1.5px solid #ebe9ed;
  resize: none;
  outline: none;
  transition: 0.25s;
}
.main textarea:focus {
  border: 1.5px solid #2ecc71;
}
.main button {
  height: 40px;
  width: 100px;
  background: #2ecc71;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: 0.25s;
  cursor: pointer;
}
.main button:hover {
  background: #27ae60;
}
#options {
  text-align: center;
  margin: 10px 0;
}
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.options .pitch .pitch-options,
.options .rate .rate-options,
.options .volume .volume-options {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.options .pitch .pitch-options h3,
.options .rate .rate-options h3,
.options .volume .volume-options h3 {
  position: absolute;
  left: 100%;
  margin: 0 10px;
}
@media only screen and (max-width: 768px) {
  .main textarea {
    width: 90%;
  }
  .options {
    flex-direction: column;
  }
  .options .pitch,
  .options .rate,
  .options .volume {
    margin: 20px 0;
  }
}
