:root {
  --color: #2ecc71;
  --hover-color: #27ae60;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
.main h1,
.main textarea,
.main p,
.main button {
  margin: 10px 0;
}
.main textarea {
  height: 200px;
  width: 500px;
  padding: 5px;
  font-size: 20px;
  border: 1.5px solid #ebe9ed;
  resize: none;
  outline: none;
  transition: 0.25s;
}
.main .option-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .option-buttons button {
  height: 40px;
  width: 100px;
  background: var(--color);
  color: #ffffff;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: 0.25s;
  cursor: pointer;
}
.main .option-buttons button:hover {
  background: var(--hover-color);
}
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}
.options .pitch .pitch-options,
.options .rate .rate-options,
.options .volume .volume-options {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.options .pitch .pitch-options h3,
.options .rate .rate-options h3,
.options .volume .volume-options h3 {
  position: absolute;
  left: 100%;
  margin: 0 10px;
}
.options h3,
.options input[type="range"] {
  margin: 10px 0;
}
.options input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  cursor: pointer;
}
.options input[type="range"]:focus {
  outline: none;
}
.options input[type="range"]::-webkit-slider-runnable-track {
  height: 18px;
  background: #ffffff;
  border: 1px solid #ebe9ed;
  border-radius: 24px;
}
.options input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 24px;
  background: var(--color);
  margin-top: 0.5px;
}
@media only screen and (max-width: 768px) {
  .main textarea {
    width: 90%;
  }
  .options {
    flex-direction: column;
  }
  .options .pitch,
  .options .rate,
  .options .volume {
    margin: 10px 0;
  }
}
